@model IEnumerable<Mvc.Grid.Models.Personel>
@{
    ViewBag.Title = "Listele";
}

<h2>Personeller Listesi</h2>

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            @item.Ad
        </li>
    }
</ul>

